**/.log
**/bin
**/tmp
**/.md
**/.git
**/.vscode
**/.vs
**/.idea
**/.vagrant
**/node_modules
**/npm-debug.log
**/obj
**/out
/docker-compose
**/secrets.dev.yaml
**/values.dev.yaml
**/.classpath
**/.project
**/.settings
**/.dbmdl
**/.jfm
**/azds.yaml
**/.*proj.user
**/local/data
**/.terraform
**/tfstate